@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../css/fonts/Open-Sans-regular/Open-Sans-regular.eot');
  src: url('../css/fonts/Open-Sans-regular/Open-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Open Sans'),
       local('Open-Sans-regular'),
       url('../css/fonts/Open-Sans-regular/Open-Sans-regular.woff2') format('woff2'),
       url('../css/fonts/Open-Sans-regular/Open-Sans-regular.woff') format('woff'),
       url('../css/fonts/Open-Sans-regular/Open-Sans-regular.ttf') format('truetype'),
       url('../css/fonts/Open-Sans-regular/Open-Sans-regular.svg#OpenSans') format('svg');
}

body
{
    background:                         url(../img/bg.jpg);
    background-attachment:              fixed;
    font-family:                        "Open Sans" !important;
}

$bigPadding:                            3%;
$padding:                               0.8%;
$colour1:                               #AA3939;
$colour2:                               #AA6C39;
$colour3:                               #FFFFFF;
$trans:                                 rgba(255,255,255,0.3);
$border-radius-amount:                  7px;        

%center-element
{
    margin-left:                        auto !important;
    margin-right:                       auto !important;
    display:                            inline-block !important;
    text-align:                         center;
}

.center
{
    @extend                             %center-element;
}

.panel
{
    margin:                             $bigPadding;
    padding:                            $bigPadding;
    border-radius:                      $border-radius-amount;
    background:                         $trans;
}

%input-default
{
    padding:                            $padding * 2;
    border-radius:                      $border-radius-amount;
    outline:                            none;
    background:                         $trans;
    border:                             none;
    border-bottom:                      2px solid lighten($colour1, 50%);
    transition:                         all 0.7s;
        font-family:                        "Open Sans" !important;
}
%input-hover
{
    border-bottom:                      2px solid lighten($colour1, 5%);
    background:                         none;
    cursor:                             -moz-pointer;
    cursor:                             -webkit-pointer;
    cursor:                             pointer;
}

.forms
{

}
.forms *
{
    font-size:                          1.2em;
    margin-bottom:                     $bigPadding;
    color:                              #000000;

}

input[type="text"]
{
    @extend                             %input-default;
}

input[type="text"]:focus
{
    @extend                             %input-hover;
}


button
{
    @extend                             %input-default;
}

button:hover
{
    @extend                             %input-hover;
}

.big-header
{
    font-size:                           2em;
}

#register-forms
{
    display:                             none;
}
