body
{
	overflow: 			hidden;
}

.area
{
	padding:			1.25%;
}
.area h1,h2,h3
{
	margin-top:			0.1% !important;
}
.menu
{
	position:			fixed;
	bottom:				0;
}

.nav_item
{
	font-size: 			2em;
	text-align: 		center;
	margin-left:		1.2%;
	margin-right:		1.2%;
	margin-top:			0.2%;
}

.nav_item:hover
{
	cursor:				pointer;
	color:				#AD503F;
}

.integer_count
{
	font-size:			0.7em;
}
.quote
{
	font-size:				0.77em;
}
.quote h3
{
	font-family:     		"Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace ;
	color:					#C08000;
	font-weight:			none;
	font-size:				1.15em;
}
.quote p
{
	font-family:     		"Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace ;
	font-size:				1em;
}